.App{
    background-color:#00ccbb;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#drum-machine{
    display: grid;
    background-color:grey;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    width: 65vw;
    height: 20em;
    
    border: 0.2em solid black;
    
}
.drum-button{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color:green;
    grid-gap: 0.3em;
    
}

.drum-pad{
   box-shadow: 5px 5px 10px black;
   height: 100%;
   width:100%;
   border-radius: 2.5%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 2.5rem;
   border: none;
}

.drum-pad:active{
    background: orange;
    box-shadow: none;
    
}
.caja2{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}

#display{
    background-color:#00ccbb;
    display: flex;
    align-self: center;
    width: 60%;
    flex-basis: 2em;
    box-shadow: 1rem 1rem 2rem black;
    border-radius: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    
}

.Power, .Bank{
    margin: auto;
    background-color: black;
    display: grid;
    height: 3rem;
    width: 7rem;
    box-shadow: 1rem 1rem 2rem white;
    border-radius: 10px;
    
}
.Power2, .Bank2{
    margin: auto;
    background-color: black;
    display: grid;
    height: 3rem;
    width: 7rem;
    border-radius: 10px;
}

.interruptor, .bank{
    background-color: rgb(14, 218, 14);
    width: 50%;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    
}
.interruptorOff, .bankOff{
    background-color: red;
    width: 50%;
    justify-self: end;
    border-radius: 10px;
    
}
p{
    margin: auto;
    

}
.volumen{
    align-self: center;
}
