
#display{
    height:40px;
    width: 60%;
    padding-top:6px;
   
    
}

.Power, .Bank{
    margin: auto;
    background-color: black;
    display: flex;
    height: 1.7rem;
    width: 5rem;
    box-shadow: .3rem 0.3em 1rem white;
    border-radius: 4em;
    
}

.Power2, .Bank2{
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: 1.7rem;
    width: 5rem;
    border-radius: 4em;
}

.interruptor, .bank{
    background-color: green;
    height: 1.7rem;
    width: 52%;
    border-radius: 4em;
    padding-top:1.9px;
}

.interruptorOff, .bankOff{
    background-color: red;
    height: 1.7rem;
    width: 52%;
    border-radius: 4em;

}
p{
    margin: auto;
    

}
.volumen{
    align-self: center;
}

.row{
    background-color:#000;
}
